@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
    --bg : #d5e1ef;
    --text : #1f3251;
    --subtext : #68778d
}
*{
    box-sizing: border-box;
}
body{
    background: var(--bg);
    color: var(--text);
      display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Outfit',sans-serif;
    margin:0;
    
}
main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #00000030;
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    max-width: 360px;
}

main img{
    border-radius: 10px;
    width: 100%;
}
main div{
    padding: 0 25px;
    text-align: center;
}

.subtext{
    color: var(--subtext); }